@model IEnumerable<GreatestMovies.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h2 id="titleActorColor">Do You Know Your Actors?</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 card">
                <div class="thumbnail">
                    <h2>
                        Actor's Name <br />  @Html.DisplayFor(modelItem => item.ActorName)
                    </h2>

                    <h4>
                        This actor was born on: @item.DOB.ToShortDateString()
                    </h4>

                    <h4>
                        This actor's nationality is:  @Html.DisplayFor(modelItem => item.Nationality)
                    </h4>

                    <h6>
                        Gender:  @Html.DisplayFor(modelItem => item.Gender)
                    </h6>

                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                    </p>
                </div>
            </div>
        }

    </div>
</div>
